<h5>Informações do SiSU</h5>

<table>
  <tr>
    <td>
      <div>
        <h6 class="text-center">Peso em Linguagens:</h6>
        <p class="text-center"><%= course.weight_mat %></p>
      </div>
    </td>
    <td>
      <div>
        <h6 class="text-center">Peso em Matemática:</h6>
        <p class="text-center"><%= course.weight_mat %></p>
      </div>
    </td>
    <td>
      <div></div>
        <h6 class="text-center">Peso em Ciências Humanas:</h6>
        <p class="text-center"><%= course.weight_ch %></p>
      </div>
    </td>
    <td>
      <div>
        <h6 class="text-center">Peso em Ciências da Natureza:</h6>
        <p class="text-center"><%= course.weight_cn %></p></td>
      </div>
    <td>
      <div>
        <h6 class="text-center">Peso em Redação:</h6>
        <p class="text-center"><%= course.weight_red %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <h6 class="text-center">Mínimo em Linguagens</h6>
        <p class="text-center"><%= course.min_lin %></p>
      </div>
    </td>
    <td>
      <div>
        <h6 class="text-center">Mínimo em Matemática:</h6>
        <p class="text-center"><%= course.min_mat %></p>
      </div>
    </td>
    <td>
      <div></div>
        <h6 class="text-center">Mínimo em Ciências Humanas:</h6>
        <p class="text-center"><%= course.min_ch %></p>
      </div>
    </td>
    <td>
      <div>
        <h6 class="text-center">Mínimo em Ciências da Natureza:</h6>
        <p class="text-center"><%= course.min_cn %></p></td>
      </div>
    <td>
      <div>
        <h6 class="text-center">Mínimo em Redação:</h6>
        <p class="text-center"><%= course.min_red %></p>
      </div>
    </td>
  </tr>
</table>

<!--<h5>Último resultado do SiSU</h5>
<p><i class="fa fa-play" aria-hidden="true"></i> Referência: <%= course.segments.last.sisu_edition %></p>

<table>
  <% course.segments.last.passing_scores.each do |score| %>
    <tr>
      <td class="p-0">
        <p class="text-justify m-0 p-1 br-divider vertical mx-half mx-sm-1"><%= score.name %></p>
      </td>
      <td class="p-0">
        <p class="text-left m-0 p-1"><%= score.passing_score %></p>
      </td>
    </tr>
  <% end %>
</table>-->

<br>
