  <div class="container-lg">
    <div class="header-top">
      <%= link_to root_path, class: "header-logo" do %>
        <img src="https://i.ibb.co/LJdnDNM/Bizu-logo-removebg-preview.png" alt="logo" style="max-height: 40px;"/>
        <span style="display: block" class="br-divider vertical mx-half mx-sm-1"></span>
        <div style="display: block; text-decoration: none;" class="header-sign"><strong>O melhor curso para você!</strong></div>
      <% end %>
      <div class="header-actions">
      <div>
      </div>
        <div class="header-links dropdown">
          <button class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Acesso Rápido">
            <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
          </button>
          <div class="br-list">
            <div class="header">
              <div class="title">Acesso Rápido</div>
            </div>
            <% if user_signed_in? %>
            <%= link_to "Buscar Cursos", courses_path, class:"br-item" %>
            <%= link_to "Meus Favoritos", bookmarks_path, class:"br-item" %>
            <% end %>
          </div>
        </div>
        <span class="br-divider vertical mx-half mx-sm-1"></span>
        <div class="header-functions dropdown">
          <button class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Funcionalidades do Sistema"><i class="fas fa-th" aria-hidden="true"></i>
          </button>
          <div class="br-list">
            <div class="header">
              <div class="title">Funcionalidades do Sistema</div>
            </div>
            <div class="align-items-center br-item">
              <button class="br-button circle small" type="button" aria-label="Funcionalidade 1"><i class="fas fa-chart-bar" aria-hidden="true"></i><span class="text">Funcionalidade 1</span>
              </button>
            </div>
            <div class="align-items-center br-item">
              <button class="br-button circle small" type="button" aria-label="Funcionalidade 2"><i class="fas fa-headset" aria-hidden="true"></i><span class="text">Funcionalidade 2</span>
              </button>
            </div>
            <div class="align-items-center br-item">
              <button class="br-button circle small" type="button" aria-label="Funcionalidade 3"><i class="fas fa-comment" aria-hidden="true"></i><span class="text">Funcionalidade 3</span>
              </button>
            </div>
            <div class="align-items-center br-item">
              <button class="br-button circle small" type="button" aria-label="Funcionalidade 4"><i class="fas fa-adjust" aria-hidden="true"></i><span class="text">Funcionalidade 4</span>
              </button>
            </div>
          </div>
        </div>
        <div class="header-search-trigger">
          <button class="br-button circle" type="button" aria-label="Abrir Busca" data-toggle="search" data-target=".header-search"><i class="fas fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <div class="header-login">
        <% unless user_signed_in? %>
          <div class="header-sign-in">
            <%= button_to new_user_session_path, class:"br-button sign-in small", form: { "data-trigger" => "login" } do %>
              <i class="fas fa-user" aria-hidden="true"></i><span class="d-sm-inline">Entrar</span>
            <% end %>
          </div>
        <% else %>
          <div class="header-avatar">
            <div class="avatar dropdown"><span class="br-avatar" title="Fulana da Silva"><span class="image"><img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="Avatar"/></span></span>
              <button class="br-button circle small" type="button" aria-label="Abrir Menu de usuário" data-toggle="dropdown"><i class="fas fa-angle-down" aria-hidden="true"></i>
              </button>
              <div class="br-notification"style="width: auto;">
                <div class="notification-header">
                  <div class="row d-block">
                    <p class="text-bold text-center m-2">Fulano da Silva</p>
                    <p class="text-center m-2"><small>nome.sobrenome@dominio.gov</small></p>
                  </div>
                  <div class="row">
                    <%= link_to "Meus Favoritos", bookmarks_path, class: "dropdown-item text-center" %>
                    <%= link_to "Minha Conta", edit_user_registration_path, class: "dropdown-item text-center" %>
                    <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item text-center" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class="header-bottom d-none">
      <div class="header-menu">
        <div class="header-menu-trigger">
          <button class="br-button small circle" type="button" aria-label="Menu" data-toggle="menu" data-target="#main-navigation" id="menu-compact"><i class="fas fa-bars" aria-hidden="true"></i>
          </button>
        </div>
        <div class="header-info">
          <div class="header-title">Bizu</div>
          <div class="header-subtitle">A sua ajuda na procura da melhor opção</div>
        </div>
      </div>
      <div class="header-search">
        <div class="br-input has-icon">
          <label for="searchbox-26320">Texto da pesquisa</label>
          <input id="searchbox-26320" type="text" placeholder="O que você procura?"/>
          <button class="br-button circle small" type="button" aria-label="Pesquisar"><i class="fas fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <button class="br-button circle search-close ml-1" type="button" aria-label="Fechar Busca" data-dismiss="search"><i class="fas fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
