<div class="justify-content-center my-2">
  <%
  names = []
  shift = []
  degree = []
  Course.all.each do |curso|
    unless names.include?(curso.name)
      names << curso.name
    end
    unless shift.include?(curso.shift)
      shift << curso.shift
    end
    unless degree.include?(curso.degree)
      degree << curso.degree
    end
  end
  %>

  <%= simple_form_for :search,
                      url: courses_path,
                      class: "col-12 justify-content-center my-2",
                      method: "GET" do |f| %>
    <%= f.input :name, label: "Nome do Curso",  collection: names, as: :select %>
    <%= f.input :shift, label: "Turno", collection: shift, as: :select %>
    <%= f.input :degree, label: "Grau", collection: degree, as: :select %>
    <%= f.input_field :restaurant, as: :boolean %> <strong>Restaurante Universitário</strong><hr>
    <%= f.input_field :accomodation, as: :boolean %> <strong>Alojamento</strong><hr>
    <p><strong>Qualidade de Vida</strong></p><%= f.input_field :idh, as: :radio_buttons, collection: [['alto', 'Alto'], ['medio', 'Médio']], label_method: :second, value_method: :first %><hr>
    <%= f.submit "Search", class: "btn btn-primary w-100" %><hr>
    <%= link_to "Reset", courses_path  %>
  <% end %>
</div>
